/*color*/
/*header*/
h1{
    text-align: center;
    font-size: 50px;
    color: rgb(255, 255, 255)
}
header{
    background-color: rgb(115, 122, 113)
}
main{
    background-color: rgb(39, 39, 39);
}
footer{
    background-color: rgb(115, 122, 113)
}

/*Button*/
.button{
    box-shadow: 6px 6px 5px #000000a6;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    background-color: rgb(39, 39, 39);
    font-size: 20px;
    height: 40px;
    width: 100px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin: 30px 10px;
}

.button:active {
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.7);
}

.btn-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (min-width: 800px) {

/*main*/
h2{
    font-size: 30px;
}

/*keys*/
.keys{
    text-align: left;
    padding: 50px 50px;
}

ul {
    list-style-position: inside; 
    padding-left: 10px;
}

/*introduction*/
.introduction{
    text-align: center;
    padding: 10px;
    margin: 0px 30% 30px;
    color: rgb(255, 255, 255);
    border: 3px solid #ffffff;
}

/*containter*/
.container{
    display: grid;
    justify-content: center;
    margin: 30px 0 0 15%;
}
/*Keys*/
.keys{
    color: rgb(255, 255, 255);
    border: 3px solid #ffffff;
    margin: 10px;
    height: 500px;
}
#item1{
    grid-area: 1/1/3/2;
}
/*Picture*/
.picture{
    color: rgb(255, 255, 255);
    border: 3px solid #ffffff;
    margin: 10px;
    height: 600px;
}
.picture img{
    width: 70%;
    height: 60%;
    display: block;
    margin: 0 auto;
}
#item2{
    grid-area: 3/1/4/2;
}
/*about1*/
.about1{
    color: rgb(255, 255, 255);
    border: 3px solid #ffffff;
    margin: 10px;
    width: 70%;
}
#item3{
    grid-area: 1/2/2/4;
}
/*about2*/
.about2{
    color: rgb(255, 255, 255);
    border: 3px solid #ffffff;
    margin: 10px;
    width: 70%;
}
#item4{
    grid-area: 2/2/3/4;
}
/*close*/
.close{
    color: rgb(255, 255, 255);
    border: 3px solid #ffffff;
    margin: 10px;
    width: 70%;
}
#item5{
    grid-area: 3/2/4/4;
}
}

@media (max-width: 799px) {

h2{
    font-size: 30px;
}

/*introduction*/
.introduction{
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0 10px 10px 10px;
}

/*container*/
.container{
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    text-align: center;
}

/*keys*/
.keys{
    margin: 10px;
}

/*picture*/
.picture{
    margin: 10px;
}

.picture img{
    width: 90%;
}

/*about*/
.about1{
    margin: 10px;
}

.about2{
    margin: 10px;
}

/*closing*/
.close{
    margin: 10px;
}

}