
/*header*/
header{
    background-color: rgb(115, 122, 113)
}

h1{
    text-align: center;
    font-size: 50px;
    color: rgb(255, 255, 255)
}
/*main*/
main{
    background-color: rgb(39, 39, 39);
}

.introduction{
    text-align: center;
}

/*containter*/
.container{
    display: grid;
}
/*Keys*/
#item1{
    grid-area: 1/1/3/2;
}
/*Picture*/
#item2{
    grid-area: 3/1/4/2;
}
/*about1*/
#item3{
    grid-area: 1/2/2/4;
}
/*about2*/
#item4{
    grid-area: 2/2/3/4;
}
/*close*/
#item5{
    grid-area: 3/2/4/4;
}

/*footer*/
footer{
    background-color: rgb(115, 122, 113)
}
/*Button*/
.button{
    box-shadow: 6px 6px 5px #000000a6;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    background-color: rgb(39, 39, 39);
    font-size: 20px;
    height: 40px;
    width: 100px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin: 30px 10px;
}

.button:active {
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.7);
}

.btn-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}